body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-container{
    position: relative;
}

.star{
   position: absolute;
   bottom: 12px;
   right: 11px;
   width: 30px;
   height:30px;
}

.container-star{
    width: 50px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(73, 70, 70, 0.5);
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.like{
    fill:gold;
    
}

.selectImg{
    opacity: 0.5;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
}

.selectImg:hover{
    background-color: antiquewhite;
}

.bio{
    width: 50%;
    text-align: center;
}